* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --lightwhite: rgb(240, 240, 240);
  --lightblack: rgba(0, 0, 0, 0.7);
  --blue-border: 2px solid blue;
  --red-border: 2px solid red;
}

body {
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: var(--lightwhite);
  background-color: black;
}

#menu {
  position: fixed;
  top: 5vh;
  right: 40px;
  z-index: 1;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 15px;
  animation: change-menu-background 1s both;
  animation-timeline: scroll();
  word-spacing: 10px;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 1;
  background-color: black;
  padding: 20px;
  font-size: 1.2rem;
  transition: opacity 1s ease;
  color: white;
}

aside {
  position: fixed;
  inset: 0 0 0 auto;
  background-color: rgb(10, 10, 10);
  color: gray;
  z-index: 2;
  width: 20vw;
  padding: 50px 30px;
  font-size: 0.9rem;
  font-weight: 700;
  transition: transform 0.5s ease-in;
  transform: translateX(30vw);
}

aside p {
  color: var(--lightwhite);
  font-size: 1.1rem;
  letter-spacing: 2px;
}

aside.show {
  transform: translate(0);
}

aside #close {
  background-color: black;
  padding: 5px;
  margin-left: 10px;
}

aside div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 60px 0;
}

aside div {
  text-align: left;
  color: gray;
}

aside a {
  color: gray;
}

aside a:hover {
  color: var(--lightwhite);
}

aside i {
  margin-right: 10px;
}

/* home styles */
#home {
  position: relative;
  min-height: 130vh;
  padding: 5vh 40px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-spacing: 5px;
}

#home::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url(images/home-background-2.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 1;
  filter: blur(1px) grayscale(50%) brightness(50%);
}

#home .logo {
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: 500;
  text-align: start;
  font-family: "Jacques Francois Shadow";
}

#home section {
  padding: 15vh 0;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

#home .side {
  justify-content: flex-end;
}

#home .side:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#home .side:last-child {
  align-self: flex-end;
  writing-mode: vertical-rl;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 3px;
}

#home .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 750;
}

#home .middle .small {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#home .small:last-child {
  display: inline-block;
  font-weight: 550;
  border: var(--lightwhite) 2px solid;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  font-size: 0.8rem;
}

#home .vertical-line {
  width: 1px;
  height: 50px;
}

#home .scroll-down {
  animation: 4s scroll-down infinite;
  animation-timeline: scroll;
}

.animate-up {
  animation: 1s animate-up ease both;
}

@keyframes scroll-down {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  75% {
    transform: translateY(20px);
  }

  95% {
    transform: translateY(-2px);
  }
}

@keyframes animate-up {
  from {
    transform: translateY(150px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes change-menu-background {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  30%,
  100% {
    background-color: black;
  }
}

/* about us styles */
#about {
  min-height: 100vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 50px 15vw;
  font-weight: 700;
}

#about .vertical-line + p {
  color: var(--lightblack);
  font-size: 1rem;
  letter-spacing: 2px;
}

#about p:nth-child(3) {
  font-size: 2rem;
}

#about p:nth-child(4) {
  font-size: 1.2rem;
  word-spacing: normal;
  color: var(--lightblack);
}

#about p:nth-child(4).fade-in {
  opacity: 0;
  transform: translateY(150px);
  transition: all 0.8s ease;
}

#about p:nth-child(4).fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* services page */
#services {
  min-height: 110vh;
  color: rgb(140, 140, 140);
  padding: 20vh 15vw 15vh;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
}

#services::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
      150deg,
      rgba(0, 0, 0, 0.8) 40%,
      rgba(0, 0, 0, 0)
    ),
    url(images/services-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  filter: grayscale(100%);
}

#services > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#services > div:last-child {
  gap: 40px;
}

#services h2 {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--lightwhite);
}

#services h2:nth-child(2) {
  margin: 30px 0;
}

#services .orange {
  margin-bottom: 20px;
  font-weight: 700;
}

#services .horizontal-line {
  display: inline-block;
  height: 1px;
  width: 200px;
  margin: 30px auto;
  background-color: rgb(70, 70, 70);
}

/* work page */
#work {
  min-height: 110vh;
  background-color: white;
  font-weight: 700;
}

#showcase {
  height: min(100vh, 650px);
  background-color: rgb(20, 20, 20);
  padding-top: 20vh;
  color: gray;
}

#showcase * {
  margin-bottom: 20px;
}

#work .images {
  transform: translateY(-200px);
  width: 90vw;
  margin: 0 auto;
}

#work .images > div {
  display: flex;
}

#work .images .fade-in {
  transform: translateY(350px);
  transition: transform 0.8s ease;
}

#work .images .fade-in.show {
  transform: translateY(0);
}

#work span {
  width: 45vw;
  overflow: hidden;
  position: relative;
}

#work section:last-child {
  transform: translateY(-150px);
}

#work img {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-out;
}

#work img.hover {
  scale: 1.1;
  filter: brightness(25%);
}

#work .overlay-div {
  position: absolute;
  inset: 0;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.4s ease;
}

.overlay-div p {
  display: inline;
}

.overlay-div .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 40px;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.4s ease;
}

.overlay-div .title.animate {
  opacity: 1;
  transform: translateY(0);
}

.title div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title .upper {
  font-size: 0.6rem;
  color: rgb(180, 180, 180);
  letter-spacing: 2px;
  font-weight: 800;
}

.overlay-div > div:last-child {
  flex: 1 1 auto;
  justify-content: center;
}

.title i {
  font-size: 1rem;
  padding-top: 10px;
}

#work .fa-ellipsis {
  padding-top: 30%;
  font-size: 0rem;
  transition: font-size 0.3s ease;
}

#work section:last-child {
  font-size: 1rem;
}

#work .fa-ellipsis.animate {
  font-size: 1.5rem;
}

#our-partners h2 {
  font-size: 1rem;
}
.swiper-container {
  color: black;
  width: 85vw;
  padding: 5px;
  margin: auto;
  overflow: hidden;
  margin-top: 50px;
  user-select: none;
}

.swiper-wrapper {
  margin-bottom: 20px !important;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  min-width: 8px !important;
  border-radius: 50%;
  background-color: #000000 !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* contact page */
#contact {
  min-height: 140vh;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  line-height: 1.5;
  color: rgb(110, 110, 110);
  position: relative;
}

#contact::before {
  content: "";
  inset: 0;
  position: absolute;
  background-image: url(images/contact-background.jpg);
  z-index: -1;
  filter: blur(1px) brightness(50%);
}

#contact .upper {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 500;
}

#contact .upper,
#contact .larger {
  color: white;
}

#contact > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#contact .horizontal-line {
  display: inline-block;
  height: 1px;
  width: 200px;
  background-color: gray;
  margin: 40px auto 20px;
}

#contact .contact-para {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 2px;
}

/* footer page */
footer {
  color: gray;
  padding: 100px 20px 20px;
  background-color: #171717;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.8;
}

footer .container {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

footer .container > * {
  flex: 1 1 auto;
}

footer .container > p {
  text-align: left;
  padding-left: 100px;
}

footer .socials p {
  margin-bottom: 80px;
}

footer .upper {
  color: white;
}

footer .socials {
  width: 30%;
  text-align: left;
  padding-left: 50px;
}

footer a {
  display: block;
  color: inherit;
}

/* common styles */
a {
  color: var(--lightwhite);
  text-decoration: none;
}

.upper {
  text-transform: uppercase;
}

.vertical-line {
  background-color: rgba(160, 160, 160);
  width: 2px;
  height: 90px;
  text-align: center;
}

.orange {
  color: rgb(192, 103, 1);
}

.large {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.horizontal-line {
  display: inline-block;
  height: 1px;
  width: 200px;
  margin: 30px auto;
  background-color: rgb(60, 60, 60);
}

.fade-in {
  transition: all 0.7s ease-out;
  transform: translateY(200px);
  opacity: 0;
}

.fade-in.show {
  transform: translateY(0px);
  opacity: 1;
}
